@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueBlackCondensed.eot');
    src: local('HelveticaNeueCyr'), local('HelveticaNeueCyr'),
        url('HelveticaNeueCyr.woff2') format('woff2'),
        url('HelveticaNeueBlackCondensed.woff') format('woff'),
   ;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
     src: local('HelveticaNeueCyr-Light'),
           url('HelveticaNeueCyr.woff2') format('woff2'),
        url('HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 550;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Medium'),
        url('HelveticaNeueCyr.woff2') format('woff2'),
        url('HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html{
    box-sizing: border-box;

}

*, *::before, *::after{
box-sizing:inherit;
}

body {
    font-family: 'Helvetica';
    font-weight: normal;
    background-color: #1B1F22;
    color: #ffffff;
}

img{
    max-width: 100%;
    height: auto;
}

/* Header styles start */

.header{
    max-width: 1920px;
    display: flex;
    align-items: center;
    height: 73px;
    margin-bottom: 73px;
    padding-left: 80px;
    background-color: #1B1F22;
    border-bottom: #22252a 2px solid;  
}

.header__items {
    display: flex;
    text-align: start;
    justify-content: start;
    flex-wrap: wrap;
    margin-right: 170px;
}

.header__logo{
    left: 0;
}

.header__nav{
    margin-left: 140px;
}

.header__wrapper{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;  
}

.header__item{
    display: flex;
    align-items:start;
}

.header__link {
    display: inline-block;
    padding: 15px 25px;
    position: relative;

    font-size: 12px;
    line-height: 11.86px;
    letter-spacing: 0.05em;
    color:#CBCECF;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
 }

  .header__link:after {    
    bottom: -17px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FF3E41;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .header__link:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .header__nav-icon{
    width: 18.67px;
    height: 18.67px;
  }

 @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

.wrapper{
    max-width: 1800px;
}

.menu__items{
    display: flex;
    justify-content:end;
    align-items:center;
 
    font-size: 14px;
    font-weight: 700;
    line-height: 13.93px;
    letter-spacing: 0.05em;
    text-wrap: nowrap;
}

.menu__items-left{
   display: flex;
   justify-content:end;
   align-items:center;
   margin-right: 50px;
}

.menu__items-right{
    display: flex;
    justify-content:end;
    align-items:center;
 }

.menu__item{
    margin-right: 60px;
    color: #CBCECF;
    width: 32px;
    height: 32px;
}

.menu__item-globe{
    width: 32px;
    height: 32px;
    margin-left: 70px;
    margin-right: 10px;
}

.menu__item:first-child{
    color:white;
    font-weight: 700;
    font-size: 14px;
    line-height: 13.93px;
    letter-spacing: .05em;
}

.person__items{
    display: flex;
    align-items:center;
    margin-left: 140px;
}

.person__item{
    width:32px;
    height: 32px;
    margin-left: 21px;
}

.person__item:last-child{
    margin-right: 0;
}

/* Header styles end */

/* Intro styles start */

.intro{
    display: flex;
    position: relative;
    padding-left: 97px;
    margin-bottom: -200px;
    z-index: -1;
}

.intro__title{
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 150px;
    height: 128px;
    font-weight: 700;
    background-color:#1B1F22;
    z-index: 1;
}

.intro__title-element{
    max-width: 371px;
    height: 125px;
    font-size: 32px;
    line-height: 43.2px;
    color: #CBCECF;

    display: flex;
    align-items: center;
}

.video__button-element{
    align-self: end;
    position: relative;
    display: inline;
    font-size: 33px;
    font-weight: 550;
}

.numbers{
    position: relative;
    max-width: 50px;
    height: 25px;
    display: flex;

    margin-top: 255px;
    
    font-weight: 550;
    font-size: 13px;
    color:#7F8589;   
}

.number__item{
    position:relative;
    margin-left: 30px;
}

.number__item:last-child{
    color:red;
}

#vertical__text{
  vertical-align:top;
  transform:rotate(7deg);
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */}
    
.section__intro{
    position: relative;
    max-width: 1670px;
    margin-left: 220px;
    margin-right: 27px;   
}

.groups{
    display: flex;
}

.group__item{
    align-self: center;
    text-wrap: wrap;
}

.group__item:nth-child(2){
  max-width: 438px;
  vertical-align: middle; 
}

.group__item:nth-child(3){
  
    text-align: right;
    
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: #FFF;
}

.group__item:nth-child(4){
    
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 260%;
    
    display: flex;
    width: 192px;
    height: 240px;
    flex-direction: column;
    justify-content:space-between;
    align-items:end;
    flex-shrink: 0;
    padding-bottom: 16px;
    
    color:#CBCECF;
}

.social__network-button {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 51px;
    background: #313538;
    border: 0;
    color: #CBCECF;
    cursor: pointer;
}

.social__network-button:hover{
    background:#259CD8;
    transition: all 0.2s ease;
}

.under__items{
    display: flex;
    justify-content: end;
}

.under__text{
    text-transform: uppercase;
    font-weight: 550;
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 3%;
    color: #cfcbce;
    margin-top: 18px;
    letter-spacing: 3%;
}

.line{
    width: 88px;
    border-bottom: 2px solid white;
    margin-right: 24px;
    margin-bottom: 10px;
}

.underline{
    border-bottom: 2px solid #CBCECF;
    width: 100%;
    line-height: 25px;   
}

.down__button{
    width: 103px;
    display: flex;
    align-items: end;
}

.down__text{
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .2em;
    color: #CBCECF;
    align-self:center;
    margin-left: 15px;
}

.intro__end{
    max-width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: -1;
    padding-left: 60px;
    margin-top: -100px;
}

.scroll__btn{
    width: 21px;
    height: 30px;
    transform:rotate(90deg);
}

.gost_logo_box{
    text-align: center;
    line-height: 3em;
    color: #CBCECF;
}

.gost_logo_box-main-text{
    width: 115px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .03em;
}

.gost_logo_box-under-text{
    width: 115px;
    width: 115px;
    font-weight: 550;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .03em;
    white-space: nowrap;
}

/* Intro styles end */

